@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    background-color: #F6EDD9;
    font-family: 'Quicksand', sans-serif;
}    

#heading {
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

h1 {
    margin-bottom: 0;
    padding-bottom: 30px;
}

#green {
    color: rgb(29, 131, 29);
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
}

#nightStand {
    padding-bottom: 30px;
}

#intro {
    text-align: center;
    padding-bottom: 2.5rem;
}

#quoteForm {
    background-color: #2ABB2A;
    width: 75vw;
    padding: 30px 0 30px 0;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 2px rgb(42, 187, 42);
}

#quoteForm > label {
    margin-inline: 2em;
}

#quoteForm > button {
   margin-inline: 2em;
}

select {
    background-color: transparent;
    border-color: black;
    color: black;
    
}

.generateButton {
    margin-inline: 2em;
    margin-top: 0.5em;
    border-radius: 2px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    border: none;
    
    background-color: #F6EDD9;
    color: #a8004c;
    display: block;
}

.generateButton:hover {
    background-color: #FF0072;
    color:#F6EDD9;
}

#displayPrice {
    background-color:  rgb(245, 227, 205);
    width: 75vw;
    padding: 30px 0 30px 0;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

p {
    margin-inline: 2em;
}



#littleVan {
    width: 100%;
}
    
.vanImgMoving { 
    position: relative;
    animation: 3s ease-in-out 0s van-right forwards;
}
    
@keyframes van-right {
    from {
        left: 0;
    }
    to {
        left: calc(50vw - 64px);
    }
}
    
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: 2em;
    padding: 30px 0 30px 0;
    text-align: center;
}


/* Media Queries*/

/* For small screen sizes 512px and down*/

@media (max-width: 512px) {
    #quoteForm {
            flex-direction: column;
            
    }

        
    #quoteForm > * {
            flex-basis: 100%;
    }

    select, option {
        margin-inline: 2em;
    }     
}      