@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    background-color: #F6EDD9;
    font-family: 'Quicksand', sans-serif;
}    

#heading {
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#intro {
    text-align: center;
    padding-bottom: 2.5rem;
}

#quoteForm {
    background-color: rgb(42, 187, 42);
    width: 75vw;
    padding: 30px 0 30px 0;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 2px rgb(42, 187, 42);
}

#quoteForm > label {
    margin-inline: 2em;
}

#quoteForm > button {
   margin-inline: 2em;
}

#displayPrice {
    background-color:  rgb(245, 227, 205);
    width: 75vw;
    padding: 30px 0 30px 0;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

p {
    margin-inline: 2em;
}

#littleVan {
    position: relative;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-inline: 2em;
    padding: 30px 0 30px 0;
    text-align: center;
}

.footer {
    margin-left: auto;
    margin-right: auto;
}